#sign_up_form{
    text-align: center;
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.container
{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    width: 30%;

}
    form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
input{
    padding: 2%;
    width: 400px;

}
label{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}
.submit-btn{
    background-color: green;
    font-size: large;
    padding: 2px;
    margin: 10px;
    width: 400px;
}
