*{
    padding: 0;
    margin: 0;
}
div{
    margin: 100px auto;
    width: 200px;
    height:200px;
    background-color: blueviolet;
    transition: background-color 3s cubic-bezier(.58,.33,1,.1), width 2s ease-in,height 2s ease-in;
}
div:hover{
    background-color: aqua ;
    width: 400px;
    height: 400px;

}